server:
  port: 9090
spring:
  application:
    name: oauth
  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: keycloak
            client-id: myoidc-client
            client-secret: tBerSRq8gMP4wuISVjld1P2wIbMYb4sM
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
            scope: openid,profile
        provider:
          keycloak:
            authorization-uri: http://localhost:8080/realms/myrealm/protocol/openid-connect/auth
            token-uri: http://localhost:8080/realms/myrealm/protocol/openid-connect/token
            jwk-set-uri: http://localhost:8080/realms/myrealm/protocol/openid-connect/certs
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/myrealm